html, body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: #333;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #003cff;
}
header {
  background-color: #009e00;
  height: 10%;
  width: 100%;
}
img {
  height: 100%;
}
main {
  bottom: 0;
  width:50%;
  margin:auto;
}
article {
  border: 4px solid #662b09;
  border-radius: 16px;
  background-color: #aa480f;
  color:white;
  
}
footer {
  background-color: black;
  color: white;
}