html, body {
  margin:0;
  padding:0;
  width: 256px;
  height: 240px;
  background-color: #F1F8E9;
}
header {
  position: fixed;
  background-color: #eeffee;
  height: 48px;
  width: 100%;
  z-index: 1;
}
#logo {
  height: 44px;
  margin: auto;
}

main {
  position: relative;
  top:48px;
  bottom: 0;
}
